<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <h1>Admin Panel for Canteen</h1>
    <h1>URL's</h1>
    <a href="/menu">Show all Products in Database</a><br>
    <a href="/add">Add a Product in Database</a><br>
    <a href="/order">Add a Order in CSV</a><br>
    <hr>
    <a href="/recommend">Recommendation</a><br>
</body>
</html>